.vscode/
build/.cmake/
build/.qt/
build/CMakeCache.txt
build/CMakeFiles/
build/CMakeDoxyfile.in
build/CMakeDoxygenDefaults.cmake
build/CTestTestfile.cmake
build/Makefile
build/cmake_install.cmake
build/compile_commands.json
build/examples/
build/include/
build/src/
build/Testing/
build/tests/
bin/
lib/
tests/kshark-gui-tests
tests/kshark-tests
tests/*.so
kernelshark.desktop
libkshark.pc
org.freedesktop.kshark-record.policy
